@tailwind base;
@tailwind components;
@tailwind utilities;


form {
  width: 100%;
}

/* @layer utilities {
  .nav-link {
    @apply text-zinc-500 hover:text-zinc-800 transition-colors
  }
} */

.active-link {
  background-color: teal.500;
  color: white;
}

.custom-active-nav-item {
  background-color: gray.100;
  color: teal;
  /* padding: 5px; */
}

.arrow {
  position: absolute;
  margin-top: calc(100px - 7.5px);
  margin-left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid teal;
}

.break-word {
  overflow-wrap: break-word;
}

.red {
  color: red
}

html, body {
  overflow-x:hidden 
} 

.ql-editor {
  font-size: 1.05rem;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1.5rem 0;
}
